<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/logo/logo.png" />
    <title>Liste des Articles | StreetShop</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Accueil</a>
        <a href="/add">Ajouter un produit</a>
        <img src="../static/img/logo/logo.png" alt="logo">
    </div>

    <h1 class="ftitle">Les <br>produits</h1>

    <div class="product-list">
        {{range .}}
        <div class="product-item">
            <img src="{{.Image}}" alt="{{.Name}}">
            <div class="product-name">{{.Name}}</div>
            {{if .Discount}}
            <div class="product-price discounted">{{.Price}} €</div>
            <div class="product-discount">{{printf "%.2f" (mult .Price 0.8)}} €</div>
            {{else}}
            <div class="product-price">{{.Price}} €</div>
            {{end}}
            {{if eq .Stock 0}}
            <div class="out-of-stock">Hors stock</div>
            {{else}}
            <div class="product-stock">En stock : {{.Stock}}</div>
            {{end}}
            <div class="product-details">
                <a href="/article?id={{.ID}}">Consulter</a>
            </div>
        </div>
        {{end}}
    </div>
</body>

</html>