<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/logo/logo.png" />
    <title>Bah non enfaite | StreeShop</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Accueil</a>
        <a href="/add">Ajouter un produit</a>
        <img src="../static/img/logo/logo.png" alt="logo">
    </div>

    <h1>C'étais <br>pas dans les consignes d'ajouter un article au panier</h1>

</body>

</html>